{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}

{% block body %}
<h1 class="ui header">{{ % for arg in args % }}</h1>
<div class="ui {{ arg }} message"><p>{{ arg }}</p></div>
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/zeppelin-web-statichub-1-02928930/css/default.css" />
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/zeppelin-web-statichub-1-02928930/css/component.css" />
<script src="https://s3.amazonaws.com/zeppelin-web-statichub-1-02928930/js/modernizr.custom.js"></script>
<img src="https://s3.amazonaws.com/zeppelin-web-statichub-1-02928930/images/icon.png" alt="zeppelin-icon" style="width:56px;height:56px;">
<div id="sb-search" class="sb-search">
	<form>
		<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
		<input class="sb-search-submit" type="submit" value="">
		<span class="sb-icon-search"></span>
	</form>
</div>
<script src="https://s3.amazonaws.com/zeppelin-web-statichub-1-02928930/js/classie.js"></script>
<script src="https://s3.amazonaws.com/zeppelin-web-statichub-1-02928930/js/uisearch.js"></script>
		<script>
			new UISearch( document.getElementById( 'sb-search' ) );
</script>
{% endblock %}
